.chars__list {
  display: flex;
  flex-wrap: wrap;

  margin-top: 5px;

  width: 565px;
}

.chars dd,
.chars dt {
  box-sizing: border-box;

  display: block;

  margin: 0;
  padding: 0;
  padding-top: 20px;

  height: 50px;

  font-size: 16px;
  line-height: 22px;

  border-bottom: 1px solid $gray-border;
}

.chars dt {
  width: 50%;

  color: $black;
}

.chars dd {
  width: 50%;
  text-align: right;
  color: #000000;
}
