.details {
  margin-left: 57px;
}

.details b {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: $black;
}

.details__chars-list {
  @include list-reset;

  display: flex;

  margin-top: 22px;

  color: $black;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.details__char {
  position: relative;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  margin-right: 8px;

  min-width: 70px;
  height: 61px;

  text-align: center;
  opacity: 0.5;
}

.details__char::before {
  position: absolute;
  content: "";
  top: 0;
  left: 20%;

  width: 40px;
  height: 40px;
}

.details__char--fuel::before {
  background: url("../../img/icon-engine.svg");
}

.details__char--transmission::before {
  background: url("../../img/icon-transmission.svg");
}

.details__char--power::before {
  background: url("../../img/icon-power.svg");
}

.details__char--engine::before {
  background: url("../../img/icon-volume.svg");
}

.details__prices {
  margin-top: 35px;
}

.details__prices span {
  display: inline-block;
  vertical-align: middle;
  color: $black;
}

.details__price--current {
  font-weight: bold;
  font-size: 35px;
  line-height: 48px;
  margin-top: 1px;
}

.details__price--old {
  position: relative;

  margin-left: 31px;
  margin-top: 7px;

  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  opacity: 0.5;
}

.details__price--old::before {
  position: absolute;
  content: "";
  top: 13px;
  left: -5px;
  width: 123px;
  height: 1px;
  transform: rotate(-5deg);
  background-color: gray;
}

.details__button {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.details__button--ask {
  margin-top: 37px;

  width: 196px;
  height: 52px;
}

.details__button--credit {
  margin-top: 15px;

  width: 222px;
  height: 52px;
}

.details__button--ask:hover {
  background-color: #bd0c21;
}

.details__button--credit:hover {
  background-color: $red;
  color: white;
}
