.footer {
  background-color: $gray;
}

.footer__nav {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  min-height: 82px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer__nav-item {
  align-self: center;
}

.footer__nav a {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: $black;
  text-decoration: none;
}
