.header {
  background-color: $gray;
  padding-bottom: 10px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}

.header__container img {
  margin-top: 15px;
  margin-left: 7px;
}
