.main-nav__list {
  @include list-reset;
  display: flex;
  position: relative;
  right: -40px;

  flex-wrap: wrap;

  margin-top: 30px;

  width: 558px;
}

.main-nav__item {
  margin-bottom: 10px;
  margin-right: 60px;
}

.main-nav__item a {
  @include menu;
  text-decoration: none;
}

.main-nav__item a:hover {
  opacity: 0.7;
}
