.main-nav__list {
  @include list-reset;
  display: flex;
  justify-content: flex-start;

  flex-wrap: wrap;

  margin-top: 30px;

  width: 518px;
}

.main-nav__item a {
  @include menu;
  text-decoration: none;
}

.main-nav__item {
  margin-right: 68px;
}

.main-nav__item:nth-of-type(4n) {
  margin-right: 0;
}

.main-nav__item a:hover {
  opacity: 0.7;
}
