.main-nav__list {
  @include list-reset;

  display: flex;
  justify-content: space-between;

  margin-right: 7px;
  margin-top: 30px;

  width: 518px;
}

.main-nav__item a {
  @include menu;
  text-decoration: none;
}

.main-nav__item a:hover {
  opacity: 0.7;
}
