.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  border: none;
  background: none;
}

.button--red {
  color: $white;
  background-color: $red;
}

.button--white {
  color: $red;
  background-color: $white;
  border: 2px solid $red;
}

.button--radio {
  color: $red;
  background-color: $white;
  border: 1px solid $gray-border;
}

input:checked + .button--radio {
  color: $white;
  background-color: $red;
  border-color: $red;
}
