.button {
  // @include outline;
  display: flex; // make us of Flexbox
  align-items: center; // does vertically center the desired content
  justify-content: center; // horizontally centers single line items
  text-align: center;

  border: none;
  background: none;
  font-family: "Open Sans", sans-serif;
}

.button--red {
  color: $white;
  background-color: $red;
}

.button--white {
  color: $red;
  background-color: $white;
  border: 2px solid $red;
}

.button--radio {
  color: $red;
  background-color: $white;
  border: 1px solid $gray-border;
}

input:checked + .button--radio {
  color: $white;
  background-color: $red;
  border-color: $red;
}
