.button {
  // @include outline;
  display: flex; // make us of Flexbox
  align-items: center; // does vertically center the desired content
  justify-content: center; // horizontally centers single line items
  text-align: center;

  font-family: "Open Sans", sans-serif;
}

.button--red {
  color: $white;
  background-color: $red;
}
